/* MAIN PAGE */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

a {
    color: black;
    text-decoration: none;

}

a:hover {
    color: blue;
}

a:focus, a:active {
    text-decoration: underline;
}


p {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    vertical-align: middle;
    border: none;
}

/* Containers */

.container {
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
}

.container-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Classes Used Interchargeably */

.link-group {
    position: relative;
}

.indicator {
    all: initial; /* Remove all default styling */
    display: block; 
    position: absolute;
    bottom: -15px;
    margin-left: 8px;
    height: 10px;
    box-shadow: 0px 0px 8px rgba(26, 115, 232, 0.75);
    background-color: #1a73e8;
    transition: left 0.3s ease, width 0.3s ease;
    width: 100%; 
}

.tab-link {
    color: #5f6368; /* Inactive state color */
    padding-left: 10px; 
    padding-right: 10px;
    
}

.tab-link-active {
    color: #1a73e8; /* Active state color */
  
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
    }

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
    padding-top: 20px;
    }

.navbar-search {
    position: relative;
    max-width: 100%;
    border-left-color: #E5E5E5;
    border-right-color: #E5E5E5;
    border-top-color: #E5E5E5;
    color: #1111;
    font-family: arial,sans-serif;
    font-size: 15px;
    height: 59px;
    visibility: visible;
    margin-right: 0px !important;
    margin-left: 0px !important;
    }

.even-spacing {
        display: flex;
        justify-content: space-between;
    }

.nav-item-spacing {
        margin-left: 5px; 
        margin-right: 5px;
    }   
    
    
.items-within {
    align-items: center;
}

.nav-link {
    padding-right: 30px;
    color: #5f6368!important;
}

.nav-link:hover { 
    text-decoration: underline;

}


.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.dropdown-toggle {
    width: 27px;
    height: auto;
}


.social-drop {
    z-index: 1000;
    position: absolute;
    width: 320px;
    margin-left: -207px;
    margin-top: 12px;
    border: 1px solid #ccc !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    cursor: default;
}

.pin-truc {
    margin-top: -20.5px;
    margin-left: 183px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-12 {
    width: 100%;
}

.social-text {
    text-align: center;
    color: #404040;
    font-size: 13px;
    font-family: arial,sans-serif;
}

.social-element {
    border: 1px solid #fff !important;
    height: 86px;
    width: 86px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 10px;
}


.social-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.social-logo:hover {
    opacity: 0.6;
}

.social-left {
    margin-left: 15px;
}


/* Google Search Section */

.google-img-big {
    margin-bottom: -1rem;
}


.search-container {
    text-align: center;
    margin-top: 35px;
}

.input-group {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    border-radius: 25px 0 0 25px !important;
    border-right: none;
    box-shadow: none;
    font-size: 16px;
    background-image: url('./images/search.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 15px;
    padding-left: 35px;
    
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.search-input::-webkit-input-placeholder {
    color: black !important;
    opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
.search-input::-ms-input-placeholder {
    color: black !important;
}

/* Microsoft Edge */
.search-input::-ms-input-placeholder {
    color: black !important;
}

/* Firefox 19+ */
.search-input::-moz-placeholder {
    color: black !important;
    opacity: 1;
}

/* Firefox 18- */
.search-input:-moz-placeholder {
    color: black !important;
    opacity: 1;
}


.input-group .btn-outline-secondary {
    border-radius: 0 25px 25px 0 !important;
    box-shadow: none;
}

.p-searchbar{
    color: Pink; 
    font-family: "Courier";
    font-size: 20px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 4s steps(60, end); 
  }
  
  @keyframes type{ 
    from { width: 0; } 
  } 



/* Small Google Search Section */

.col-auto {
    padding-left: 0;
    padding-right: 0;
}

.input-group-small {
    width: 60%;
    margin-left: 3px;
    margin-top: 30px;
}


/* Footer Section */

@media (min-width: 768px) {
    .footer {
        height: 40px;
        width: 100%;
        background: #f2f2f2;
        border-top: 1px solid #e4e4e4;
    }
}


.p-footer {
    color: #404040;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}


.footer {
    margin-top: auto;
}


/* IMAGES PAGE */

.container .img-fluid {
    height: 450px;  
    width: auto;   
    object-fit: cover;  /* ensures the images cover the entire space without distortion */
}

.mb-row {
    margin-bottom: 5%;
}


.img-fluid {
    border-radius: 20px;
}

.img-fluid:hover {
    opacity: 0.8;
}



/* CONTACTS PAGE */ 

.contact-section {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; }
  
  [tabindex="-1"]:focus {
    outline: 0 !important; }
  

.contact-page-main-img {
    border-radius: 0px 25px 0px 25px;
}

.icon {
    background-color: #86A789; /* Circle background color */
    border-radius: 50%;     
    width: 60px;            
    height: 60px;
    padding: 6px;
    margin-bottom: 15px;
}

.icon span {
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    text-align: center; 
    line-height: 48px; 
}

.icon-col {
    margin-left: 20px;
    margin-right: 20px;
}

.dbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-text {
    color: #B2B1B9;
}

#contactForm .label {
    text-transform: uppercase;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 900;
    font-size: 0.8rem;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm textarea {
    border: none;            
    border-bottom: 1px solid #aaa; 
    background-color: transparent;  
    box-shadow: none;       
    outline: none;          
    border-radius: 0;       
}

.contactForm input[type="text"]:focus,
.contactForm input[type="email"]:focus,
.contactForm textarea:focus {
    border-bottom: 2px solid #86A789;
    outline: none; 
    box-shadow: none;
}

@media (max-width: 767px) {

.col-md-7 {
    margin-left: 5%;
  }
.contact-image-container {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }  
}


/* RESULTS PAGE */

.small-search-results-container {
    position: relative;
    z-index: 10;
}

.results-container {
    margin-top: 75px;
    margin-left: 120px;
}

.result-item {
    margin-bottom: 45px;
}

.search-results-item-img {
    width: 25px; 
    height: auto; 
    border-radius: 10px;
    margin-right: 10px;
}

.result-snippet {
    font-size: 14px;
    color: #45474B;
    font-weight: 350;
    
}

.result-title {
    font-size: 18px;
    color: #1a0dab;
    text-decoration: none;
}

.result-url {
    font-size: 13px;
    margin-left: 37px;
}

.search-result-card {
    border: 1px solid #dfe1e5; /* Light grey border */
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(32,33,36,0.28); /* Subtle shadow */
    padding: 20px; 
    margin-bottom: 20px; 
    background: #fff; 
}

.search-result-card h2 {
    margin-top: 0;
    color: #1a0dab;
}

.search-results-page-img {
    display: block; 
    width: 70%; 
    border-radius: 10px;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
  
.me-info {
    color: #70757a;
}

.me-link a {
    text-decoration: none;
    color: #202124;
}

.me-description, .company-metadata p {
    color: #4d5156;
}

.me-metadata p {
    margin-bottom: 5px; /* Spacing between metadata lines */
}


/* ABOUT PAGE */

.about-page {
    background-image: url('./images/projects-imgs/Grey-brick-wall.png');
    background-size: cover;
    background-position: center;
}

.container-about {
    margin-top: 3.5%;
    margin-left: 10%;
    margin-right: 7%;
}

.top-container {

    margin-bottom: 5%;
}

.uppercase-h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    font-size: 14rem;
    letter-spacing: -5px;
    font-weight: 200;
    line-height: 0.75;
}

.uppercase-h2 {
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 0px;
    font-weight: 300;
    color: #DA0C81;
    position:absolute;
    transform: rotate(20deg);
    margin-top: 8%;
    margin-left: 7%;


}

.about-img-main {
    width: 65%;
    height: auto;
    border-radius: 25px;
    transform: rotate(5deg);
}

.about-description-p {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
}

.grey-color {
    background-color: whitesmoke;
    color: #61677A;
    font-family: 'Merriweather Sans', sans-serif;
    transform: rotate(-2deg);
    margin-top: 13%;
    margin-left: 15%;
    margin-right: 5.5%;
    font-size: 1.5rem;
    line-height: 2;

}

.black-color {
    background-color: #61677A;
    color: whitesmoke;
    font-family: 'Merriweather Sans', sans-serif;
    transform: rotate(3deg);
    margin-top: -5%;
    margin-left: 15%;
    margin-right: 5.5%;
    margin-bottom: 10%;
    font-size: 1.5rem;
    line-height: 2;
}

.pink-color {
    color: #DA0C81;
    font-family: 'Indie Flower', cursive;
    transform: rotate(2deg);
    margin-left: 5.5%;
    margin-right: 20%;
    font-size: 2.2rem;
    font-weight: 100;
    line-height: 1.5;
    
}

@media only screen and (max-width: 992px) {
    .uppercase-h1 {
        font-size: 10rem; 
        margin-top: 5%;  
        transform: rotate(0deg); 
    }   
    .uppercase-h2 {
        font-size: 3.7rem; 
        margin-top: 2%;  
        transform: rotate(0deg); 
    }
}

@media only screen and (max-width: 768px) {
    .uppercase-h1 {
        font-size: 7rem; 
        margin-top: 5%;  
        transform: rotate(0deg); 
    }
    .uppercase-h2 {
        font-size: 3rem; 
        margin-top: 2%;  
        transform: rotate(0deg); 
    }
    .grey-color .black-color {
        margin-top: 20%;
        font-size: 1rem;
        line-height: 1.5;
    
    }
    
    .pink-color {
        font-size: 1.75rem;
        line-height: 1;
        
    }
}

/* SKILLS PAGE */

.skills-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
}

.container-skills {
    position: relative;
    width: 500px; 
    min-height: 575px; 
    margin: auto; 
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    transform: translateX(-85px); /* Shifts the container 85px to the left */
    align-items: center;
}

.large-image img {
    width: 200px; 
    z-index: 2;
    /* Center the image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
    
}

.small-images .small-image-container {
    position: absolute;
    width: 100px; 
    height: auto;
    z-index: 1;
    --index: 0; /* Custom property for the child index */
    --total-images: 7; /* Total number of small images */
    --circle-size: 250px; /* Adjust the radius of the circle */
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: rotate(calc(var(--index) * 1turn / var(--total-images))) translateX(var(--circle-size)) rotate(calc(-1 * var(--index) * 1turn / var(--total-images)));
}

.small-images img {
    width: 100%; 
    height: auto;
}

/* Assign the rotation for each image */
.small-images img:nth-child(1) { --index: 0; }
.small-images img:nth-child(2) { --index: 1; }
.small-images img:nth-child(3) { --index: 2; }
.small-images img:nth-child(4) { --index: 3; }
.small-images img:nth-child(5) { --index: 4; }
.small-images img:nth-child(6) { --index: 5; }
.small-images img:nth-child(7) { --index: 6; }


.image-text {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    margin-top: 25px; /* Adjust spacing between image and text */
    font-family: 'Permanent Marker', cursive;
}

.small-image-container:hover .image-text {
    visibility: visible;
    opacity: 1;
}


@media (max-width: 600px) {
    .container-skills {
        width: 300px;
        min-height: 350px;
        transform: none; /* Remove the left shift for small screens */
    }

    .large-image img {
        width: 120px;
        transform: translate(-30%, -30%);
    }

    .small-images .small-image-container {
        width: 60px; /* Adjust the container size for small images */
        --circle-size: 150px;
        transform: rotate(calc(var(--index) * 1turn / var(--total-images))) 
                   translateX(var(--circle-size)) 
                   rotate(calc(-1 * var(--index) * 1turn / var(--total-images)));
    }

    .small-images img {
        width: 100%; 
        height: auto; 
    }

    .image-text {
        font-size: 0.8rem;
    }
}


/* PROJECTS PAGE */

.projects-page {
    background-image: linear-gradient(-45deg, white,#413F42);
    background-size: 180% 180%;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-heading {
    font-size: 5rem;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
    color: #F875AA;
}

.carousel {
    width: 100%;
}

.carousel-caption {
    position: static; /* Reset the position to flow in the normal document layout */
    padding-top: 1rem; /* Add space above the caption as needed */
    text-align: center; /* Center align the text */
}

.carousel-inner {
    overflow: visible;
}

.carousel-indicators {
    display: none;
}


.projects-carousel-img {
    max-width: 75%; 
    max-height: 400px; 
    margin: auto; 
    object-fit: contain; /* Maintains the aspect ratio of the image */
    width: auto; 
    height: auto; 
}

.project-name {
    transition: color 0.3s ease; /* Smooth color transition */
    font-family: "Bad Script", cursive;
    font-weight: 700;
    color: #444444;
}

.project-name:hover {
    color: #FED9ED; 
}

.project-link {
    display: block; 
    margin-top: 0.3rem; 
    text-align: center; 
    font-family: "Bad Script", cursive;
    color: black;
}

.spacing {
    margin-bottom: 5%;
}

@media (max-width: 767px) {

    .projects-heading {
        font-size: 2.5rem;
        margin-top: 7%;
        margin-bottom: 7.5%;
    }

    .carousel-caption {
      position: static; /* Resets position */
      padding-top: 1rem; 
      text-align: center; 
    }
    
    .project-name, .project-link {
      display: block; /* Ensure they are displayed */
      text-align: center; 
      font-size: 0.8rem;
      
    }
    
    .project-link {
      margin-top: 0.5rem; 
    }
  }



  /* HOBBY PAGE */


    .hobby-page {
        background-color: #F9F5F6;
        background-size: 180% 180%;
    }

    .container-hobby {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading-question {
        font-size: 4rem;
        font-family: "Ysabeau SC", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 7%;
        color: #D37676;
    }

    .heading-answer {
        font-size: 2.5rem;
        font-family: "Bacasime Antique", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-bottom: 10%;
        margin-right: 9%;
        margin-left: 9%;
        color: #AEC2B6
    }

    .answer-difcolor {
        color: #545B77;
    }

    .hobby-carousel-img {
        max-width: 70%; 
        max-height: 400px; 
        margin: auto; 
        object-fit: contain; /* Maintains the aspect ratio of the image */
        width: auto; 
        height: auto; 
      }

    .hobby-page-icon {
        background-color: #D37676;
    }

    @media (max-width: 767px) {

        .heading-question {
            font-size: 2.5rem;
            margin-top: 7%;
            margin-bottom: 7.5%;
        }
        .heading-answer {
            font-size: 1.5rem;
            margin-bottom: 7.5%;
            margin-right: 5%;
            margin-left: 5%;
        }
    
        .carousel-caption {
          position: static; /* Resets position */
          padding-top: 1rem; 
          text-align: center; 
        }

      }